spring:
  application:
    name: mobidic
#  profiles:
#    active: dev
  jpa:
    show-sql: true
    properties:
      hibernate:
        highlight_sql: true
        use_sql_comments: true
        format_sql: true
    hibernate:
      ddl-auto: update
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
  servlet:
    multipart:
      max-file-size: 11MB
      max-request-size: 12MB

server:
  port: 8080

jwt:
  secret: ${JWT_SECRET}
  exp: ${JWT_ACCESS_EXP}

whisper:
  flask-server-url: ${FLASK_HOST}

jasypt:
  encryptor:
    password: ${JASYPT_SECRET}

logging:
  level.org:
    hibernate:
      type:
        descriptor:
          sql:
            BasicBinder: trace

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
  override-with-generic-response: false
  use-fqn: true